<div class="container p-3">
    <div class="row">
        <div class="col-md-12">
            <h3> Actividad 3</h3>
        </div>
        <div class="col-md-12 center">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="forms">
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="name" placeholder="Nombre"
                                aria-label="Username" aria-describedby="basic-addon1">
                            <div class="margin">
                                Caracteres ingresados: <br> {{this.forms.controls.name.value.length}}
                            </div>
                        </div>
                        <div class="error"
                            *ngIf="forms.controls.name.errors?.required && (forms.touched || forms.dirty)">
                            * El nombre es requerido.
                        </div>
                        <div class="error"
                            *ngIf="forms.controls.name.errors?.minlength && (forms.touched || forms.dirty)">
                            * Debe ingresar minimo 3 caracteres.
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Apellido"
                                aria-label="cedula" aria-describedby="basic-addon1">
                            <div class="margin">
                                Caracteres ingresados: <br>
                                {{this.forms.controls.lastName.value.length}}
                            </div>
                        </div>
                        <div class="error"
                            *ngIf="forms.controls.lastName.errors?.required && (forms.touched || forms.dirty)">
                            * El apellido es requerido.
                        </div>
                        <br>
                        <button (click)="count()" class="btn btn-dark btn-sm" [disabled]="forms.invalid">
                            Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>