<!-- Footer -->
<footer class="bg-dark text-center text-white footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="">tienda.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->