<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active" >Angular</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      
    </div>
  </div>
</nav>