<div class="container p-3">
    <div class="ro"w>
        <div class="col-md-12">
           <h3> Actividad 1</h3>
        </div>
        <div class="col-md-12 center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Código
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Operaciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i= index">
                        <td>{{product.name}}</td>
                        <td>{{product.code}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <button class="btn btn-danger  btn-sm" (click)="delete(i)">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
