<div class="container p-3">
    <div class="row">
        <div class="col-md-12">
            <h3> Actividad 4</h3>
        </div>
        <div class="col-md-12 center">
            <div class="card cardSearch">
                <div class="card-body">
                    <form>
                        <div class="input-group" class="input">
                            <input class="text" [(ngModel)]="filterQuestions" type="text" name="filterQuestions"
                                class="form-control" placeholder="Buscar.." aria-describedby="basic-addon1">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            id
                        </th>
                        <th>
                            Pregunta
                        </th>
                        <th>
                            Categoria
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let question of questions | filter:filterQuestions">
                        <td>{{question.id}}</td>
                        <td>{{question.question}}</td>
                        <td>{{question.category}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>